@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Share&family=Share+Tech&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 375px) {
  .query-mobile {
    padding: 0;
  }
}
body {
  background: url("/app-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  font-family: "Share Tech", sans-serif;
}

#header {
  margin: 5px;
  padding: 15px 10px;
  background-color: #251427;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header h1 {
  font-family: "Koulen", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
#header nav {
  margin-right: 0;
}
#header nav div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#header nav span {
  font-size: 20px;
}
#header nav div button,
#header nav div a {
  background-color: #251427;
  border: none;
  font-size: 18px;
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.login-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 106px;
  background-color: rgba(37, 20, 39, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.home {
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
}
.home > div {
  padding-right: 30px;
  padding-left: 30px;
}
.home > div .add-new-btn,
.home > div #search-bar {
  margin: 10px 0;
}
.home .add-new-btn {
  position: absolute;
  top: 4px;
  right: 10px;
}
.home .add-new-btn button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  font-size: 16px;
  text-decoration: underline;
}
.home .add-new-btn button i {
  margin-right: 2px;
}
.home #search-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 260px;
  background-color: #251427;
  border-radius: 10px;
}
.home #search-bar * {
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  font-size: 16px;
}
.home #search-bar input {
  padding: 3px 5px;
  height: 100%;
  width: 65%;
  background-color: #251427;
  border: none;
}
.home #search-bar #search-bar-btn {
  height: 100%;
  width: 25%;
  background-color: #47234b;
  border: none;
  border-radius: 5px;
}
.home .user-usernames .filter-title {
  font-size: 18px;
}
.home .user-usernames ul li {
  margin: 5px 5px 0;
}
.home .user-usernames ul li.selected {
  font-weight: bold;
}
.home .projects {
  margin: 40px 0 0 0;
}
.home .project-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  max-height: 150px;
  margin-bottom: 15px;
}
.home .project-card .project-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.home .project-card div {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 5px 5px;
  color: #ffffff;
}
.home .project-card div h4 {
  font-size: 20px;
}
.home .project-card div span {
  margin-left: 0.5em;
}

.add-form,
.signup,
.edit-form,
.login {
  margin: 10vh auto;
  width: 80%;
  max-width: 660px;
  padding: 40px;
  background-color: #47234b;
  border-radius: 15px;
  box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 20px;
  position: relative;
}
.add-form .cancel-login,
.signup .cancel-login,
.edit-form .cancel-login,
.login .cancel-login {
  font-size: 30px;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.add-form h3,
.add-form button,
.signup h3,
.signup button,
.edit-form h3,
.edit-form button,
.login h3,
.login button {
  font-size: 30px;
}
.add-form *,
.signup *,
.edit-form *,
.login * {
  margin: 10px 0;
}
.add-form div,
.signup div,
.edit-form div,
.login div {
  margin: 0;
}
.add-form input,
.add-form .description-input,
.signup input,
.signup .description-input,
.edit-form input,
.edit-form .description-input,
.login input,
.login .description-input {
  width: 100%;
  margin: 0;
  margin: 0 0 16px 0;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.add-form .file-upload,
.signup .file-upload,
.edit-form .file-upload,
.login .file-upload {
  position: relative;
  margin-bottom: 12px;
}
.add-form .file-upload .file-upload-label,
.signup .file-upload .file-upload-label,
.edit-form .file-upload .file-upload-label,
.login .file-upload .file-upload-label {
  position: absolute;
  top: -0.6em;
  left: -0.2em;
  z-index: 4;
  padding: 4px 10px;
  border-radius: 15px;
  border: #723279 4px solid;
  background-color: #47234b;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
}
.add-form .file-upload input,
.signup .file-upload input,
.edit-form .file-upload input,
.login .file-upload input {
  margin-left: 1.5em;
  z-index: 3;
}
.add-form .add-btn,
.add-form .signup-btn,
.add-form .edit-btn,
.add-form .edit-cancel,
.add-form .login-confirm,
.signup .add-btn,
.signup .signup-btn,
.signup .edit-btn,
.signup .edit-cancel,
.signup .login-confirm,
.edit-form .add-btn,
.edit-form .signup-btn,
.edit-form .edit-btn,
.edit-form .edit-cancel,
.edit-form .login-confirm,
.login .add-btn,
.login .signup-btn,
.login .edit-btn,
.login .edit-cancel,
.login .login-confirm {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #723279;
  border: none;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
}
.add-form .edit-cancel,
.signup .edit-cancel,
.edit-form .edit-cancel,
.login .edit-cancel {
  background-color: rgba(0, 0, 0, 0);
}
.add-form .register-text,
.add-form .register-text a,
.signup .register-text,
.signup .register-text a,
.edit-form .register-text,
.edit-form .register-text a,
.login .register-text,
.login .register-text a {
  color: #d0b0d3;
  font-size: 16px;
}
.add-form .register-text a,
.add-form .register-text span,
.add-form .register-text a a,
.add-form .register-text a span,
.signup .register-text a,
.signup .register-text span,
.signup .register-text a a,
.signup .register-text a span,
.edit-form .register-text a,
.edit-form .register-text span,
.edit-form .register-text a a,
.edit-form .register-text a span,
.login .register-text a,
.login .register-text span,
.login .register-text a a,
.login .register-text a span {
  text-decoration: underline;
}
.add-form .register-text a,
.signup .register-text a,
.edit-form .register-text a,
.login .register-text a {
  cursor: pointer;
}

.edit-form div {
  margin: 10px 0;
}

.project-page {
  color: #ffffff;
  font-size: 16px;
  position: relative;
  margin: 50px 10px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.project-page h3 {
  font-size: 40px;
  margin-bottom: 12px;
}
.project-page .author-detail {
  font-size: 30px;
}
.project-page .project-description,
.project-page .prototype {
  font-size: 20px;
  max-width: 760px;
}
.project-page .prototype {
  text-decoration: underline;
  text-align: center;
}
.project-page img {
  margin: 30px 0;
  max-width: 100%;
  border-radius: 15px;
}
.project-page a {
  color: #ffffff;
}
.project-page a > * {
  margin: 10px 0;
}
.project-page .detail-page {
  position: relative;
}
.project-page .detail-back-btn {
  height: 33px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #47234b;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 60px 3px 5px;
}
.project-page .detail-back-btn span {
  position: absolute;
  top: 5px;
  left: 25px;
}
.project-page .edit-delete {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: #47234b;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 10px 3px;
}
.project-page .edit-delete .delete {
  margin-left: 10px;
}

@media screen and (min-width: 540px) {
  #header h1 {
    font-size: 40px;
  }
  #header nav div button {
    font-size: 20px;
  }
  .home {
    grid-template-columns: 45% 55%;
  }
  .home .project-card {
    border-radius: 15px;
    min-height: 150px;
    max-height: 200px;
  }
  .home .project-card div img {
    margin: auto 0;
  }
  .home .project-card div h4 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #header {
    padding: 15px 30px;
  }
  .home > div {
    padding-right: 30px;
    padding-left: 30px;
  }
  .home .add-new-btn {
    right: 30px;
  }
  .home .add-new-btn button {
    font-size: 20px;
  }
  .home #search-bar {
    left: 30px;
  }
  .home #search-bar * {
    font-family: "Share Tech", sans-serif;
    color: #ffffff;
    font-size: 20px;
  }
  .home #search-bar input {
    padding: 5px 10px;
    height: 100%;
    width: 65%;
  }
  .home .user-usernames {
    width: 50%;
  }
  .home .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .project-card {
    max-width: 400px;
  }
  .project-page {
    margin: 50px 30px 30px;
  }
  .project-page .detail-back-btn {
    left: 30px;
  }
  .project-page .edit-delete {
    right: 30px;
  }
  .project-page img {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .home {
    display: block;
  }
  .home > div {
    padding-right: 30px;
    padding-left: 30px;
  }
  .pages {
    padding: 0 20px 0 20px;
  }
  .user-usernames ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .user-usernames ul li {
    margin: 5px 20px 0;
  }
  .projects {
    max-height: 80vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    align-content: flex-start;
    margin: 0;
  }
  .projects a {
    width: 25%;
    height: 50%;
    padding: 10px;
  }
  .projects a .project-card {
    min-height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .query-desktop {
    padding: 0;
  }
  .project-page {
    margin: 50px 50px 30px;
  }
  .project-page img {
    width: 600px;
  }
}
@media screen and (min-width: 1400px) {
  .project-page {
    margin: 50px 100px 30px;
  }
  .project-page img {
    width: 700px;
  }
}/*# sourceMappingURL=App.css.map */