@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Share&family=Share+Tech&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 375px) {
  .query-mobile {
    padding: 0;
  }
}
body {
  background: url("/app-bg.webp");
  background-size: cover;
  font-family: "Share Tech", sans-serif;
}

#header {
  margin: 5px;
  padding: 15px 20px;
  background-color: #251427;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header h1 {
  font-family: "Koulen", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
#header nav div button, #header nav div a {
  background-color: #251427;
  border: none;
  font-size: 18px;
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.login-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 20, 39, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.login-modal .login {
  margin: 10vh auto;
  width: 80%;
  padding: 20px;
  background-color: #47234b;
  border-radius: 15px;
  box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 20px;
}
.login-modal .login h3, .login-modal .login button {
  font-size: 34px;
}
.login-modal .login * {
  margin: 20px 0;
}
.login-modal .login input {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.login-modal .login .register-text, .login-modal .login .register-text a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
}
.login-modal .login .login-confirm {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #723279;
  border: none;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
}
.login-modal .login .cancel-login {
  font-size: 34px;
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
}

.home {
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-columns: 60% 40%;
}
.home > div {
  padding: 10px;
}
.home > div > * {
  margin: 10px 0;
}
.home .add-new-btn button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  font-size: 16px;
  text-decoration: underline;
}
.home .add-new-btn button i {
  margin-right: 2px;
}
.home #search-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #251427;
  border-radius: 10px;
}
.home #search-bar * {
  font-family: "Share Tech", sans-serif;
  color: #ffffff;
  font-size: 16px;
}
.home #search-bar input {
  padding: 3px 5px;
  height: 100%;
  width: 65%;
  background-color: #251427;
  border: none;
}
.home #search-bar #search-bar-btn {
  height: 100%;
  width: 25%;
  background-color: #47234b;
  border: none;
  border-radius: 5px;
}
.home .user-usernames .filter-title {
  font-size: 18px;
}
.home .user-usernames ul li {
  margin: 5px 5px 0;
}
.home .user-usernames ul li.selected {
  font-weight: bold;
}
.home .project-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.home .project-card .project-img {
  width: 100%;
}
.home .project-card div {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 5px 5px;
}
.home .project-card div h4 {
  font-size: 20px;
}
.home .project-card div span {
  text-decoration: underline;
}

.add-form, .signup {
  margin: 10vh auto;
  width: 80%;
  padding: 20px;
  background-color: #47234b;
  border-radius: 15px;
  box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 20px;
}
.add-form h3, .add-form button, .signup h3, .signup button {
  font-size: 34px;
}
.add-form *, .signup * {
  margin: 10px 0;
}
.add-form div, .signup div {
  margin: 0;
}
.add-form input, .signup input {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.add-form .file-upload input, .signup .file-upload input {
  border: none;
  padding: 0;
  font-family: "Share Tech", sans-serif;
  border-radius: 0;
}
.add-form .add-btn, .add-form .signup-btn, .signup .add-btn, .signup .signup-btn {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #723279;
  border: none;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
}
.add-form .register-text, .add-form .register-text a, .signup .register-text, .signup .register-text a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
}
.add-form .register-text a, .signup .register-text a {
  cursor: pointer;
}

@media screen and (min-width: 540px) {
  #header h1 {
    font-size: 40px;
  }
  #header nav div button {
    font-size: 20px;
  }
  .home {
    grid-template-columns: 45% 55%;
  }
  .home .project-card {
    border-radius: 15px;
  }
}