@media screen and (min-width: 992px) {
  // ----- Home
  .home {
    display: block;
    > div {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .pages {
    padding: 0 20px 0 20px;
  }

  .user-usernames {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        margin: 5px 20px 0;
      }
    }
  }

  // ----- Home - Projects
  .projects {
    max-height: 80vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: auto;
    align-content: flex-start;
    margin: 0;

    a {
      width: 25%;
      max-width: 500px;
      height: 50%;
      padding: 10px;

      .project-card {
        min-height: 250px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .query-desktop {
    padding: 0;
  }

  .project-page {
    margin: 50px 50px 30px;

    img {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .project-page {
    margin: 50px 100px 30px;

    img {
      width: 700px;
    }
  }
}
