@media screen and (min-width: 375px) {
  .query-mobile {
    padding: 0;
  }
}

body {
  background: url("/app-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;

  font-family: $body-font;
}

#header {
  margin: 5px;
  padding: 15px 10px;

  background-color: $main-color;
  color: $white;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: $head-font;
    // font-size: $head-size;

    text-decoration: none;
    color: $white;
  }

  nav {
    margin-right: 0;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    span {
      font-size: $body-size;
    }
  }

  nav div button,
  nav div a {
    background-color: $main-color;
    border: none;

    font-size: 18px;
    font-family: $body-font;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    margin-left: 10px;
  }
}

//   login modal
.login-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding-top: 106px;

  // change the background color as our desired style
  background-color: rgba(37, 20, 39, 0.2);
  backdrop-filter: blur(5px);

  // .login {
  //   margin: 10vh auto;
  //   width: 80%;
  //   max-width: 660px;
  //   padding: 40px;

  //   background-color: $accent-color;
  //   border-radius: 15px;
  //   // border: 2px solid $white;
  //   box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.25);

  //   color: $white;
  //   font-size: $body-size;

  //   h3,
  //   button {
  //     font-size: $sub-size;
  //   }
  //   * {
  //     margin: 10px 0;
  //   }
  //   div {
  //     margin: 0;
  //   }

  //   input {
  //     width: 100%;
  //     margin: 0 0 16px 0;
  //     padding: 5px 10px;

  //     font-size: 16px;

  //     border: 1px solid black;
  //     border-radius: 10px;
  //   }

  //   .register-text,
  //   .register-text a {
  //     color: $fine-text-color;
  //     font-size: 16px;

  //     span {
  //       text-decoration: underline;
  //     }
  //   }

  //   .login-confirm {
  //     padding: 10px 15px;
  //     border-radius: 15px;
  //     background-color: $light-color;
  //     border: none;

  //     color: $white;
  //     font-family: $body-font;
  //     cursor: pointer;
  //   }

  //   .cancel-login {
  //     font-size: $sub-size;
  //     position: absolute;
  //     top: 10px;
  //     left: 15px;

  //     cursor: pointer;
  //   }
  // }
}

.home {
  font-family: $body-font;
  color: $white;

  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;

  > div {
    padding: 50px 10px 10px;
    .add-new-btn,
    #search-bar {
      margin: 10px 0;
    }
  }

  .add-new-btn {
    position: absolute;
    top: 4px;
    right: 10px;

    button {
      background-color: rgba(0, 0, 0, 0);
      border: none;

      color: $white;
      font-family: $body-font;
      font-size: 16px;
      text-decoration: underline;
      i {
        margin-right: 2px;
      }
    }
  }

  #search-bar {
    position: absolute;
    top: 0;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $main-color;
    * {
      font-family: $body-font;
      color: $white;
      font-size: 16px;
    }
    border-radius: 10px;

    input {
      padding: 3px 5px;
      height: 100%;
      width: 65%;

      background-color: $main-color;
      border: none;
    }
    #search-bar-btn {
      height: 100%;
      width: 25%;

      background-color: $accent-color;
      border: none;
      border-radius: 5px;
    }
  }

  .user-usernames {
    .filter-title {
      font-size: 18px;
    }
    ul li {
      margin: 5px 5px 0;
      &.selected {
        font-weight: bold;
      }
    }
  }

  .project-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    max-height: 150px;

    margin-bottom: 15px;

    .project-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
    div {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      // background-color: rgba(0, 0, 0, 0.3);

      background-image: linear-gradient(rgba(0 0 0 /0), rgba(0 0 0 /7));

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 5px 5px;

      color: $white;

      h4 {
        font-size: 20px;
      }

      span {
        //   text-decoration: underline;
        margin-left: 0.5em;
      }

      // .project-time {
      //   margin-left: 1em;
      // }
    }
  }
}

.add-form,
.signup,
.edit-form,
.login {
  margin: 10vh auto;
  width: 80%;
  max-width: 660px;
  padding: 40px;

  background-color: $accent-color;
  border-radius: 15px;
  // border: 2px solid $white;
  box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.25);

  color: $white;
  font-size: $body-size;

  position: relative;

  .cancel-login {
    font-size: $sub-size;
    position: absolute;
    top: 0px;
    right: 10px;

    cursor: pointer;
  }

  h3,
  button {
    font-size: $sub-size;
  }
  * {
    margin: 10px 0;
  }
  div {
    margin: 0;
  }
  input {
    width: 100%;
    margin: 0;
    margin: 0 0 16px 0;
    padding: 5px 10px;

    font-size: 16px;

    border: 1px solid black;
    border-radius: 10px;
  }

  .file-upload {
    text-align: center;

    .file-upload-label {
      padding: 4px 10px;
      border-radius: 15px;
      border: #723279 4px solid;
      color: #ffffff;
      font-family: "Share Tech", sans-serif;
      cursor: pointer;
    }

    input {
      display: none;
    }
  }

  .add-btn,
  .signup-btn,
  .edit-btn,
  .edit-cancel,
  .login-confirm {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: $light-color;
    border: none;

    color: $white;
    font-family: $body-font;
    cursor: pointer;
  }

  .edit-cancel {
    background-color: rgba(0, 0, 0, 0);
  }

  .register-text,
  .register-text a {
    color: $fine-text-color;
    font-size: 16px;

    a,
    span {
      text-decoration: underline;
    }
  }

  .register-text a {
    cursor: pointer;
  }
}

.edit-form div {
  margin: 10px 0;
}

.project-page {
  color: $white;
  font-size: 16px;

  position: relative;

  padding: 50px 10px 10px;

  display: flex;
  justify-content: center;
  text-align: center;

  h3 {
    font-size: $head-size;
    margin-bottom: 12px;
  }
  .author-detail {
    font-size: $sub-size;
  }

  .project-description,
  .prototype {
    font-size: $body-size;
    max-width: 760px;
  }

  .prototype {
    text-decoration: underline;
    text-align: center;
  }

  img {
    margin: 30px 0;
    max-width: 100%;
    border-radius: 15px;
  }

  a {
    color: $white;
    > * {
      margin: 10px 0;
    }
  }

  .detail-page {
    position: relative;
  }

  .detail-back-btn {
    height: 33px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $accent-color;
    border: 1px solid $white;
    border-radius: 10px;
    padding: 5px 60px 3px 5px;
    span {
      position: absolute;
      top: 5px;
      left: 25px;
    }
  }

  .edit-delete {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: $body-size;

    background-color: $accent-color;
    border: 1px solid $white;
    border-radius: 10px;
    padding: 5px 10px 3px;

    .delete {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 540px) {
  // Media Query for large phones

  #header {
    h1 {
      font-size: $head-size;
    }

    nav div button {
      font-size: $body-size;
    }
  }

  .home {
    grid-template-columns: 45% 55%;

    .project-card {
      border-radius: 15px;

      min-height: 150px;
      max-height: 200px;

      div {
        img {
          margin: auto 0;
        }

        h4 {
          font-size: $sub-size;
        }
      }
    }
  }
}
